/* Home Component Styling */

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input{
  border: 0.1rem solid rgb(255, 0, 0);
  border-radius: 0.7rem;
  outline: none;
}
.search-input:hover{
  border: 0.12rem solid rgb(11, 114, 240);
  border-radius: 0.7rem;
  filter: drop-shadow(0rem 0rem 1rem rgb(11, 114, 240));
}
.home-container {
  padding: 25px;
  /* margin-top: 2.8rem; */
}

.sidebar-container{
  display: flex;
  flex-direction: row;
  /* padding: 25px; */
  /* align-items: center; */


}

.movies-section {
  /* margin-left: 20px; */
  flex: 1;
}

.movies-section h6 {
  font-size: 1.2rem;
  margin: 0.9rem 0;
}

.movies-slider-container {
  /* background-color: #aee2e6; */
  border-radius: 10px;
  padding: 1rem;
  width: auto;
  
}

/* .slick-slide {
height: auto !important;
} */



.card {
  border: none !important;
  outline: none !important;
  background-color: transparent !important;
}

.card-img {
  height: 25vh !important;
  width: 13vw !important;
  border-radius: 1rem !important;
  
}

.card-title {
  color: black !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  text-align: center;
}

.slider .card {
  cursor: pointer;
  border: none;
  margin: 0 10px; /* Add horizontal margin to create space between cards */
  transition: transform 0.3s;
}

.slider .card:hover {
  transform: scale(1.05);
}

.slick-dots{
  display: none !important;
  margin-bottom: 1rem !important;
}

.slick-prev::before{
  color: rgb(251, 3, 3);
  margin-left: 0.48rem ;
}
.slick-next:before{
  color: red;
  margin-right: 0.4rem ;
}

h6{
  font-size: large !important;
  margin-bottom: 0rem !important;
}
.loading{
  position:absolute;
  top: 50%;
  left: 50%;
}
.error-message{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 480px){
.home-container{
  min-height: 100vh;
}

.sidebar-container{
  display: flex;
  flex-direction: row;
  /* padding: 25px; */
  /* align-items: center; */


}

.movies-section {
  /* margin-left: 20px; */
  flex: 1;

}

.movies-slider-container {
  /* background-color: #aee2e6; */
  border-radius: 10px;
  height: 30vh;
  width: auto;
  
}
.card {
  border: none !important;
  outline: none !important;
  width: auto !important;

}

.card-img {
  margin-left: 1.6rem;
  max-height: 100vh !important;
  width: 50vw !important;
  background-size: cover !important;
  border-radius: 0.3rem !important;
  
}

.card-title {
  color: black !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  text-align: center;
}

.slider .card {
  cursor: pointer;
  border: none;
  margin: 0 10px; /* Add horizontal margin to create space between cards */
  transition: transform 0.3s;
}

.slider .card:hover {
  transform: scale(1.05);
}
.slick-track{
  height: 29vh;
}
.slick-dots{
  display: none !important;
  margin-bottom: 1rem !important;
}

.slick-prev::before{
  color: rgb(251, 3, 3);
  margin-left: 0.48rem ;
}
.slick-next:before{
  color: red;
  margin-right: 0.4rem ;
}

h6{
  font-size: 1rem !important;
  margin-top: 1rem !important;
}

}