.navbar {
    padding: 10px;
    border-bottom: 3px solid grey;
    width: 100% !important;
    background-color: white;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    height: 8vh;
    width: 5vw;
    margin: 0rem 1rem -0.5rem 0rem;
    filter: drop-shadow(1rem 0rem 0rem red);
  }
  .avatar{
    position: absolute !important;
    top: -8% !important;
    left: 6% !important;
    filter: drop-shadow(1rem 2rem 0rem red) !important;
    height: 5vh !important;
    width: 10vw !important;
  }
  
  .logout-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
  }

  .sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-top: 4rem;
    margin-left: 0.7rem;
  }
  
  .sidebar-icons {
    font-size: 35px;
    cursor: pointer;
    margin: 1.3rem 0;
  }
  
  .sidebar-icons.home-icon {
    color: #f06524;
    /* filter: drop-shadow(0rem 0rem 1rem #f06524); */
  }
  
  .sidebar-icons.comment-icon {
    color: #f29e28;
    /* filter: drop-shadow(0rem 0rem 1rem #f29e28); */
  }
  
  .sidebar-icons.user-icon {
    color: #115aee;
    /* filter: drop-shadow(0rem 0rem 1rem #115aee); */
  }
  .sidebar-icons.home-icon:hover {
    color: #f06524;
    filter: drop-shadow(0rem 0rem 1rem #f06524);
  }
  
  .sidebar-icons.comment-icon:hover {
    color: #f29e28;
    filter: drop-shadow(0rem 0rem 1rem #f29e28);
  }
  
  .sidebar-icons.user-icon:hover {
    color: #115aee;
    filter: drop-shadow(0rem 0rem 1rem #115aee);
  }
  
  .vertical-divider {
    border-left: 0.2rem solid grey;
    height: 100vh;
    position: fixed;
    margin-left: 6rem;
    
    /* margin-top: -0.1rem; */
    /* position: absolute; */
  }
  

  @media screen and (min-width: 320px) and (max-width: 480px){
    .sidebar {
      position: fixed;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0rem;
    }
    .sidebar-icons {
      font-size: 20px;
      cursor: pointer;
      margin: 0.8rem 0;
    }
    .vertical-divider {
      border-left: 0.2rem solid grey;
      height: 100vh;
      position: fixed;
      margin-left: 2.2rem;
      
      /* margin-top: -0.1rem; */
      /* position: absolute; */
    }
    .navbar-brand img {
      height: 7vh;
      width: 12vw;
      margin: 0rem -1rem -0.5rem -2rem !important;
      filter: drop-shadow(1rem 0rem 0rem red);
    }
    .avatar{
      position: absolute !important;
      top: -8% !important;
      left: 15% !important;
      filter: drop-shadow(1rem 2rem 0rem red) !important;
      height: 3vh !important;
      width: 18vw !important;
    }
    
  .logout-button {
    background-color: #007bff;
    border: none;
    cursor: pointer;
    font-weight: 500 !important;
    border-radius: 5px;
    font-size: 0.7rem !important;
    height: auto !important;
    text-align: center !important;
  }

  }