.main-container {
    background-color: #FF3D00;
    min-height: 100vh;
    width: 100% !important;
    display: flex;
    background-size: cover !important;
    justify-content: center;
    align-items: center;
}

.login-image {
    max-height: 80vh;
    margin-right: 7rem;
}

.form-card {
    margin-top: 7rem !important;
}
.form-inputs{
    display: flex;
    width: 100% !important;
    justify-content: space-between;
    margin: 0.5rem;
}
.show-password{
    position:relative !important;
    left: -1.5rem;
    top: 0.5rem;
    cursor: pointer;
    color: green;
}

.cinema-image {
    height: 10vh;
    width: 25vw;
    margin-bottom: 1rem;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navgate-link {
    color: white;
    display: flex;
    justify-content: center;

    margin-top: -0.5rem;
}
.enter-pass-input{
    margin-left: 0.5rem;
}
.form-input-password{
    width:100% !important;
    margin:0rem 0rem 0rem 0.6rem ;
    height: 3rem;
    border-radius: 0px ;

}
.google-login-button, .login-button{
    background-color: #FF3D00;
    width: 100% !important;
    margin:0.5rem 0rem 0.5rem 0.6rem ;
    height: 2.5rem;
    border-radius: 0px ;
    border: 0.12rem solid white;
    font-size: 1rem;
    color: #fff;
}
.google-login-button:hover, .login-button:hover{
    background-color: transparent !important;
    color: #fff !important;
    border: 0.12rem solid white !important;

}
.span-reset{
    cursor: pointer;
}
.span-reset:hover{
    cursor: pointer;
    color: blue;
}

/* reset */

.reset-container{
    height: 100vh;
    background-color: #FF3D00;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
}
.input-place{
    display: flex;
    justify-content: center;
    align-items: center;
height: 8vh !important;
margin-bottom: 0.5rem;
outline: none;

}
.send-button{
    width: 100%;
    height: 8vh !important;
    background-color: transparent;
    border: 0.13rem solid white;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;

}

@media screen and (min-width: 200px) and (max-width: 576px) {
    .main-container {
        /* background-color: rgb(131, 131, 243); */
        min-height: 100vh;
        width: 100% !important;
        display: flex;
        background-size: cover !important;
        justify-content: center;
        align-items: center;
    }

    .login-image>img {
        width: 90vw;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-left: 10rem !important;
     

    }

    .cinema-image {
        width: 40vw;
    }

    .form-card {
        margin-top: 1rem !important;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .form-inputs {
        display: flex;
       flex-direction: column;
        width: 62vw !important;
        margin-left: -0rem;

    }

    .login-button{
        width: 62vw !important;
        margin-left: -0.5rem;
    }
    .google-login-button{
        margin-left: -0.5rem;
        width:  62vw!important;
        background-color: transparent !important;
        border: 0.14rem solid white !important;
    }

    /* signup */

    .form-input-password{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 62vw !important;
        margin-left: -0.5rem;
    }
    .enter-pass-input{
        margin: 0.5rem 0rem 0rem 0rem !important;
    }
}