.main-container {
    background-color: #FF3D00;
    min-height: 100vh;
    width: 100% !important;
    display: flex;
    background-size: cover !important;
    justify-content: center;
    align-items: center;
}

.login-image {
    max-height: 80vh;
}

.form-card {
    margin-top: 7rem !important;
}

.cinema-image {
    height: 10vh;
    width: 25vw;
    margin-bottom: 1rem;
}

.row-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navgate-link {
    color: white;
    display: flex;
    justify-content: center;

    margin-top: -0.5rem;
}
.google-login-button, .login-button{
    background-color: #FF3D00;
    width: 94% !important;
    margin:0.5rem 0rem 0.5rem 0.6rem ;
    height: 2.5rem;
    border-radius: 0px ;
    border: 0.12rem solid white;
    font-size: 1rem;
    color: #fff;
}
.google-login-button:hover, .login-button:hover{
    background-color: transparent !important;
    color: #fff !important;
    border: 0.12rem solid white !important;

}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .main-container {
        /* background-color: rgb(131, 131, 243); */
        min-height: 100vh;
        width: 100% !important;
        display: flex;
        background-size: cover !important;
        justify-content: center;
        align-items: center;
    }

    .login-image>img {
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .cinema-image {
        width: 40vw;
    }

    .form-card {
        margin-top: 1rem !important;
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .form-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login-button{
        width: auto !important;
    }
    .google-login-button{
        margin-top: 0.3rem !important;
        margin-left: -1rem;
        width: auto !important;
        background-color: transparent !important;
        border: 0.14rem solid white !important;
    }

    /* signup */

    .form-input-password{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 72vw;
    }
}